.logo img {
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

#contenhomeslider img {
    height: 451px;
}

.nav-bar {
    font-size: 12px;
}

.header-top-right .header-banner {
    height: 451px;
}

.header-top-right .header-banner img {
    height: 50%;
}

.product-list.grid li .content_price {
    display: grid;
    text-align: center;
}

.product-list.grid li .product-star {
    float: unset;

}

.product-list.grid li .product-name {
    padding-bottom: 5px;
    text-align: center;
}

.product-list.grid li .right-block {
    text-align: center;
}

.navbar-brand i {
    vertical-align: middle;
    margin-right: 15px;
    font-size: 25px;
}

.banner-img img {
    height: 350px;
    width: 234px;
}

.product-list li .add-to-cart:hover {
    background-color: rgba(255, 87, 34, 1);
}

.product-list li img {
    height: 300px;
    width: 366px;
}

.page-product-box .product-container .right-block {
    text-align: center;
}

.page-product-box .product-container .product-star {
    float: unset;
}

.page-product-box .product-container .content_price {
    display: grid;
}