
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>Admin Home Index</h1>
<script>

    var source = [ // đây là dữ liệu sau khi query
    { id: 1, ProductCode: "abc-123-44", Name: "MauSac", Value: "Đen", Type: 1 },
    { id: 1, ProductCode: "abc-123-44", Name: "GioiTinh", Value: "true", Type: 2 },
    { id: 1, ProductCode: "abc-123-44", Name: "DoBen", Value: "Siêu bền", Type: 1 },
    { id: 1, ProductCode: "abc-123-44", Name: "ThuocTinhNaoDo", Value: "YASUO", Type: 1 },
    { id: 1, ProductCode: "abc-123-44", Name: "DongHoCap", Value: "false", Type: 2 },

    { id: 2, ProductCode: "abc-123-44", Name: "MauSac", Value: "Đỏ", Type: 1 },
    { id: 2, ProductCode: "abc-123-44", Name: "GioiTinh", Value: "false", Type: 2 },
    { id: 2, ProductCode: "abc-123-44", Name: "DoBen", Value: "Siêu dỏm", Type: 1 },
    { id: 2, ProductCode: "abc-123-44", Name: "ThuocTinhNaoDo", Value: "Mogana", Type: 1 },

    { id: 3, ProductCode: "abc-123-44", Name: "MauSac", Value: "Xám", Type: 1 },
    { id: 3, ProductCode: "abc-123-44", Name: "GioiTinh", Value: "true", Type: 2 },
    { id: 3, ProductCode: "abc-123-44", Name: "DoBen", Value: "Bất khả chiến bại", Type: 1 },
    { id: 3, ProductCode: "abc-123-44", Name: "ThuocTinhNaoDo", Value: "Lee sin", Type: 1 },
    { id: 1, ProductCode: "abc-123-44", Name: "DongHoCap", Value: "true", Type: 2 },
];
// Ví dụ có cái Model như thế này
// var productTemp = {
//     id,
//     MauSac,
//     GioiTinh,
//     DoBen,
//     ThuocTinhNaoDo,
//     DongHoCap
// };

// Khi mà mình muốn đổ từ source => sang danh sách model của mình chỉ cần foreach nó là xong
// ví dụ lấy product 1
// ta sẽ có 

var productData = {
    id: 2
};
var filterProduct = source.filter(x => {
    if (x.id === productData.id) {
        return true;
    }
})
var formatData = (data, type) => {
    var result;
    switch (type) {
        case 1:
            result = data;
            break;
        case 2:
            result = data == "true" ? true : false;
            break;
        default:
            result = data;
            break;
    }
    return result;
    }

    console.log(productData)
//for (let index = 0; index < filterProduct.length; index++) {
//    const property = filterProduct[index];
//    switch (property.Name) {
//        case "MauSac":
//            productData.MauSac = formatData(property.Value, property.Type);
//            break;
//        case "GioiTinh":
//            productData.GioiTinh = formatData(property.Value, property.Type);
//            break;
//        case "DoBen":
//            productData.DoBen = formatData(property.Value, property.Type);
//            break;
//        case "ThuocTinhNaoDo":
//            productData.ThuocTinhNaoDo = formatData(property.Value, property.Type);
//            break;
//        case "DongHoCap":
//            productData.DongHoCap = formatData(property.Value, property.Type);
//            break;
//        default:
//            break;
//    }
//}
console.log(productData)

</script>

