<!-- page title -->
<div class="page-title">
    <h1>Sortable Tables</h1>
    <p>Sortable features for default tables</p>

    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Tables</a></li>
        <li>Sortable tables</li>
    </ul>
</div>
<!-- ./page title -->