

#ListPost{
    width: 100%;
    margin: auto
}
.caret {
    float: right !important;
    margin-top: 10px !important; 
}
.open .dropdown-menu{
    width:100%!important;
}
.radio{
    font-size:15px;
}
tbody {
    font-size: 15px !important;
}
.edit-padding{
    padding-top:7px !important;
}

.dataTables_filter_left {
    width: 50%;
    float: left;
    text-align: left;
}

.dataTables_filter_left input {
    display: block;
    width:45%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

