

#TableBanner{
    width:100%;
    margin:auto
}
.caret {
    float: right !important;
    margin-top: 10px !important; 
}
.open .dropdown-menu{
    width:100%!important;
}
.radio{
    font-size:15px;
}

#file{
   
    overflow: hidden;
    margin-top: 0px !important;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}
tbody {
    font-size: 15px !important;
}