#btn-create-post2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}

#btn-create-post1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}
