<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">@language.HOME</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span> Chính sách bảo hành</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <h1 class="page-heading" style="text-align: center;">
                    <span class="page-heading-title2">CHÍNH SÁCH BẢO HÀNH CỦA PWATCH</span>
                </h1>
                <article class="entry-detail">
                    <div class="entry-photo">
                        <img src="/assets/images/slider-1.png" alt="Blog">
                    </div>
                    <div class="content-text clearfix">
                        <div class="page-content sidebar-position-without responsive-sidebar-bottom">
                            <div class="row-fluid">
                                <div class="content span12">
                                    <blockquote>
                                        <p style="text-align: center;"><em><span style="font-family: 'times new roman', times; font-size: 11pt;">Trong quá trình sử dụng, tùy từng thương hiệu – chúng tôi khuyến khích Quý khách hàng tham khảo và tìm hiểu hướng dẫn sử dụng được kèm theo khi mua của mỗi hãng đồng hồ để việc sử dụng được diễn ra một cách chính xác.</span></em></p>
                                    </blockquote>
                                    <p style="text-align: center;"><em><strong><span style="font-family: 'times new roman', times; font-size: 11pt;">Chính sách bảo hành được đề cập dưới đây sẽ hỗ trợ quý khách tối đa hóa quyền lợi khi mua hàng tại Đồng Hồ Hải Triều.</span></strong></em></p>
                                    <p><span style="font-family: 'times new roman', times; font-size: 11pt;">&nbsp;</span></p>
                                    <h3><strong><span style="font-family: 'times new roman', times; font-size: 14pt;">Chế Độ Bảo Hành:&nbsp;</span></strong></h3>
                                    <p><span style="text-decoration: underline;"><strong><span style="font-family: 'times new roman', times; font-size: 11pt;">Tất cả các đồng hồ khi bán ra đều kèm theo 2 phiếu bảo hành:</span></strong></span></p>
                                    <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p><div class="list list-arrow">
                                        <p></p>
                                        <ul>
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">1 Phiếu Bảo Hành (hoặc Thẻ Bảo Hành/Sổ Bảo Hành) của hãng có giá trị bảo hành Quốc tế (Thời gian bảo hành tùy theo quy định của từng hãng).</span></li>
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">1 Phiếu Bảo Hành của Hải Triều (Sử dụng để được thay pin miễn phí vĩnh viễn &amp; Hưởng chế độ bảo hành tăng thêm từ 1-4 năm của Hải Triều).</span></li>
                                        </ul>
                                        <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p>
                                    </div><p></p>
                                    <p><span style="font-family: 'times new roman', times; font-size: 11pt;"><strong>&nbsp;Ví dụ:</strong> Đồng Hồ Citizen có chế độ bảo hành chính hãng: máy = 12 tháng, Pin = 12 tháng.</span></p>
                                    <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p><div class="list list-arrow">
                                        <p></p>
                                        <ul>
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">Khi mua tại Hải Triều, Khách hàng sẽ được tặng thêm thời gian bảo hành từ 4 năm về máy. Pin = Vĩnh Viễn.</span></li>
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">Tổng cộng: Khi mua tại Hải Triều, đồng hồ Citizen&nbsp;sẽ được bảo hành máy = 05 năm, Pin = Vĩnh Viễn.</span></li>
                                        </ul>
                                        <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p>
                                    </div><p></p>
                                    <p><span style="color: #d40000;"><strong><span style="font-family: 'times new roman', times; font-size: 12pt;">Lưu ý:</span></strong></span></p>
                                    <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p><div class="list list-star">
                                        <p></p>
                                        <ul>
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">Đối với sản phẩm còn trong thời gian bảo hành Quốc Tế: Quý khách có thể đem tới Hải Triều hoặc bất kỳ nhà trung tâm bảo hành nào của hãng được ghi trên phiếu để yêu cầu được kiểm tra đồng hồ.</span></li>
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">Đối với sản phẩm hết thời gian bảo hành Quốc Tế nhưng vẫn trong thời gian bảo hành tại Hải Triều: Quý khách đem đồng hồ kèm Phiếu Bảo Hành của Hải Triều tới bất kỳ chi nhánh nào của Hải Triều để được hướng dẫn và kiểm tra đồng hồ.</span></li>
                                        </ul>
                                        <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p>
                                    </div><p></p>
                                    <p><span style="font-family: 'times new roman', times; font-size: 11pt;">&nbsp;</span></p>
                                    <h3><span style="font-size: 14pt;"><strong><span style="font-family: 'times new roman', times, serif; color: #990000;">RED Guarantee là gì?</span></strong></span></h3>
                                    <p><span style="font-family: 'times new roman', times, serif; font-size: 11pt;"></span></p><div class="list list-star">
                                        <p></p>
                                        <ul>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Đây là một chế độ bảo hành đặc biệt tại Hải Triều dành cho dòng sản phẩm&nbsp;đồng hồ cao cấp.</span></li>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Hiện tại, RED Guarantee chỉ được áp dụng cho tất cả các đồng hồ Thụy Sỹ (trừ Candino và Adriatica) bán tại tất cả các chi nhánh.</span></li>
                                        </ul>
                                        <p><span style="font-family: 'times new roman', times, serif; font-size: 11pt;"></span></p>
                                    </div><p></p>
                                    <h3><span style="font-family: 'times new roman', times, serif; color: #990000; font-size: 12pt;">Với một chiếc đồng hồ được áp dụng RED Guarantee Quý khách được hưởng chế độ:</span></h3>
                                    <p><span style="font-family: 'times new roman', times, serif; font-size: 11pt;"></span></p><div class="list list-arrow">
                                        <p></p>
                                        <ul>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Tăng thêm 1-2 năm bảo hành tại Hải Triều ngoài chế độ bảo hành Quốc Tế của hãng để có tổng thời gian là 4 năm.</span></li>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Ưu tiên bảo hành – Đồng hồ sẽ được xếp vào danh sách ưu tiên bảo hành để nhanh chóng quay lại với Quý khách.</span></li>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Giao nhận đồng hồ bảo hành ngay tại nhà Quý khách.</span></li>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Cập nhật tình trạng đồng hồ qua điện thoại tới Quý khách. Quý khách được tư vấn, cập nhật tình trạng đồng hồ trong quá trình đồng hồ được bảo hành.</span></li>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">4 năm đánh bóng đồng hồ miễn phí.</span></li>
                                        </ul>
                                        <p><span style="font-family: 'times new roman', times, serif; font-size: 11pt;"></span></p>
                                    </div><p></p>
                                    <p>&nbsp;</p>
                                    <h3><span style="font-size: 14pt;"><strong><span style="font-family: 'times new roman', times;">Điều Kiện Được Bảo Hành:</span></strong></span></h3>
                                    <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p><div class="list list-arrow">
                                        <p></p>
                                        <ul style="list-style-type: disc;">
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">Bảo hành chỉ có giá trị khi đồng hồ có Phiếu bảo hành của hãng &amp; Phiếu bảo hành của Hải Triều đi kèm, điền chính xác, đầy đủ các thông tin.</span></li>
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">Phiếu bảo hành phải còn nguyên vẹn, không rách, chấp vá, hoen ố, mờ nhạt.</span></li>
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">Còn trong thời gian bảo hành. Thời gian bảo hành được tính từ ngày mua có ghi trên Phiếu Bảo Hành.</span></li>
                                            <li><span style="font-family: 'times new roman', times; font-size: 11pt;">Chỉ bảo hành thay thế mới cho những linh kiện, phụ tùng bị hỏng – không thay thế bằng một chiếc đồng hồ khác.</span></li>
                                        </ul>
                                        <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p>
                                    </div><p></p>
                                    <p><span style="font-family: 'times new roman', times; font-size: 11pt;">&nbsp;</span></p>
                                    <h3><span style="font-size: 14pt;"><strong><span style="font-family: 'times new roman', times;">Điều Kiện Không Được Bảo Hành:</span></strong></span></h3>
                                    <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p><div class="list list-arrow">
                                        <p></p>
                                        <ul>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Đồng hồ không có Phiếu bảo hành của hãng và Phiếu bảo hành của Hải Triều đi kèm.</span></li>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Các loại dây đeo, khoá, vỏ, màu xi, mặt số, mặt kiếng bị hỏng hóc, vỡ do sử dụng không đúng, tai nạn, lão hóa tự nhiên, va đập, … trong quá trình sử dụng.</span></li>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Hỏng hóc do hậu quả gián tiếp của việc sử dụng sai hướng dẫn của hãng có kèm theo đồng hồ.</span></li>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Trầy xước về dây hoặc mặt kiếng bị trầy xước, vỡ do va chạm trong quá trình sử dụng.&nbsp;</span></li>
                                            <li><span style="font-family: 'times new roman', times, serif; font-size: 11pt;">Tự ý thay đổi máy móc bên trong, mở ra can thiệp sửa chữa trong thời gian còn bảo hành –&nbsp;Tại những nơi không phải là trung tâm của hãng</span></li>
                                        </ul>
                                        <p><span style="font-family: 'times new roman', times; font-size: 11pt;"></span></p>
                                    </div><p></p>
                                    <div class="like-share-social">
                                        <div class="fb-like" data-href="https://donghohaitrieu.com/chinh-sach-bao-hanh-cua-dong-ho-hai-trieu" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                                    </div>
                                    <div class="hatom-extra" style="display:none;visibility:hidden;"> was last modified: <span class="updated"> April 8th, 2019</span> </div>
                                    <div class="post-navigation">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>