@using ECommerce.Models.View;
@using System.Globalization;
@model HomeSliderProductPartial
<div class="page-top">
    <div class="container">
        <div class="container">
            <div class="col-xs-12 col-sm-9 page-top-left">
                <div class="popular-tabs">
                    <ul class="nav-tab">
                        <li class="active"><a data-toggle="tab" href="#tab-1" rel="nofollow noreferrer" tabindex="-1">@language.BESTSELLER</a></li>
                        <li><a data-toggle="tab" href="#tab-2" rel="nofollow noreferrer" tabindex="-1">@language.ON_SALE</a></li>
                        <li><a data-toggle="tab" href="#tab-3" rel="nofollow noreferrer" tabindex="-1">@language.NEW_MODEL</a></li>
                    </ul>
                    <div class="tab-container">
                        <div id="tab-1" class="tab-panel active">
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                                data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                                data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                @for (int i = 0; i < Model.sanPhamChayNhat.Count(); i++)
                                {
                                    var data = Model.sanPhamChayNhat[i];
                                    <li>
                                        @await Component.InvokeAsync("ProductViewPartial", new { type = 1, data = data })
                                    </li>
                                }
                            </ul>
                        </div>
                        <div id="tab-2" class="tab-panel">
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                                data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                                data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                @for (int i = 0; i < Model.sanPhamGiamGia.Count(); i++)
                                {
                                    var data = Model.sanPhamGiamGia[i];
                                    <li>

                                        @await Component.InvokeAsync("ProductViewPartial", new { type = 1, data = data })
                                    </li>
                                }
                            </ul>
                        </div>
                        <div id="tab-3" class="tab-panel">
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                                data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                                data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                @for (int i = 0; i < Model.sanPhamMoiNhat.Count(); i++)
                                {
                                    var data = Model.sanPhamMoiNhat[i];
                                    <li>
                                        @await Component.InvokeAsync("ProductViewPartial", new { type = 1, data = data })
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 page-top-right">
                <div class="latest-deals">
                    <h2 class="latest-deal-title">DEAL HỜI</h2>
                    <div class="latest-deal-content">
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                            data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                            data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":1}}'>
                            @for (int i = 0; i < Model.sanPhamGiamGia.Count(); i++)
                            {
                                var data = Model.sanPhamGiamGia[i];
                                <li>
                                    @*@if (data.DiscountDateTo.HasValue)
                                    {
                                        <div class="count-down-time" data-countdown="@data.DiscountDateTo.Value.ToString("yyyy-MM-dd HH:mm")"></div>
                                    }*@
                                    @await Component.InvokeAsync("ProductViewPartial", new { type = 2, data = data })
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>