* {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
    /* background: #f7f7f7; */
}

/* .product-bottom h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif !important;
    -webkit-font-smoothing: antialiased;
} */
.font-3rem {
    font-size: 3rem;
}

.section-title {
    text-align: center;
    margin-bottom: 1.618em;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.section-title:before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #ddd;
    left: 0;
    top: 50%;
    z-index: 0;
}

.section-title span {
    position: relative;
    background: #ffffff;
    display: inline-block;
    padding: 0 15px;
    z-index: 2;
}

.products.owl-carousel-3 .owl-controls .owl-next,
.products.owl-carousel-3 .owl-controls .owl-prev,
.products.owl-carousel .owl-controls .owl-next,
.products.owl-carousel .owl-controls .owl-prev {
    position: absolute !important;
    top: -82px !important;
    z-index: 2 !important;
}

.owl-carousel-3 .owl-item img,
.owl-carousel .owl-item img {
    width: auto;
    height: 35em;
}

.owl-item .srch {
    left: 0;
}

.owl-prev .owl-next {
    color: red;
    background-color: blue;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0;
    padding: 2px;
}

div.prev-please {
    /* color: red; */
    background-color: #73B6E1;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0;
    padding: 5px;
    position: absolute;
    top: -110px;
    z-index: 2;
    right: 40px;
}

div.next-please {
    /* color: red; */
    background-color: #73B6E1;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0;
    padding: 5px;
    position: absolute;
    top: -110px;
    z-index: 2;
    right: 0;
}

/* .products.owl-carousel .owl-controls .owl-nav .owl-prev {
    right: 31px;
}

.products.owl-carousel .owl-controls .owl-nav [class*=owl-] {
    color: red;
    background-color: blue;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0;
    padding: 2px;
} */
.products.owl-carousel-3 .owl-controls .owl-next,
.products.owl-carousel-3 .owl-controls .owl-prev,
.products.owl-carousel .owl-controls .owl-next,
.products.owl-carousel .owl-controls .owl-prev {
    position: absolute !important;
    top: -82px !important;
    z-index: 2 !important;
}

@media (max-width: 480px) {
    .product-left {
        width: 100%;
    }
}

.del-price {
    font-size: 13px;
}

.product-one {
    margin-top: 30px;
}

.owl-item .srch.show {
    display: block;
}

.title-ngang {
    font-size: 1.1em;
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 20px;
    bottom: 41%;
    padding: .8em 1em 1em;
    text-transform: uppercase;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    text-align: center;
}

a,
a.mask {
    text-decoration: none !important;
}

.btn-muangay {
    max-width: 100%;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    display: block;
}

.row.product-danhmuc-sp {
    margin: 10px 0;
}

.term-description {
    font-size: 20px;
}

.breadcrumb {
    font-size: 15px;
}

.sanpham-show {
    /* background: #fff; */
    background: #f7f7f7;

    padding: 35px;
}


.slick-slide img {
    display: block;
    height: 341px;
    width: 100%;
}

.slider-main .slick-list {
    height: 341px !important;
    padding: 0 !important;
}

.slider-nav {
    height: 445px;
    /* width: 36px; */
}

.slider-nav img {
    height: 135px;
    width: 100%;
}

.slider-nav button,
.slider-nav button:hover {
    /* background: #18a0c6; */
}

.btn-slider-prev:before,
.btn-slider-next:before {
    color: #18a0c6;
}

.slider-nav .btn {
    font-size: 20px;
    position: absolute;
    color: #18a0c6;
}

.slider-nav .btn-slider-next {
    top: 100%;
    width: 100%;
    /* border: solid 1px; */
    padding: 0;

}

.slider-nav .btn-slider-prev {
    top: -8%;
    /* left: 30%; */
    width: 100%;
    /* border: solid 1px; */
    padding: 0;

}

.slick-slide.slick-current.slick-active {}

.slider-nav .slick-list.draggable {
    height: 445px !important;
}

.slider-nav .slick-slide {
    width: 90% !important;
}

.slider-nav .slick-current {
    border-radius: 5px;
    border-color: #18a0c6;
}

.product-page .product-info .product-header {
    border-bottom: 1px dashed #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.product-info,
.product-header {
    font-size: 1.8rem;
}

.product-page .product-info .product-brand,
.product-page .product-info .product-id {
    display: inline-block;
    /* font-size: 0.8125rem; */
    line-height: 1;
    color: #999999;
    margin-top: 5px;
    margin-right: 10px;
}

.product-page .product-info .product-price .price-des {
    /* font-size: 0.8125rem; */
    color: #999999;
    font-style: italic;
}

.product-page .product-info .product-price {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e6e6e6;
}

.product-guarantee {
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e6e6e6;
}



@media (min-width: 992px) {
    .product-page .product-info .product-option .colors-list {
        white-space: normal;
    }
}

.product-page .product-info .product-option {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e6e6e6;
}

.product-page .product-info .product-option .colors-list a {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    margin-right: 5px;
    white-space: normal;
}

.product-page .product-info .product-option .colors-list a .img {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    filter: grayscale(100%);
}

.product-page .product-info .product-option .colors-list a .img img {
    max-width: 90%;
    max-height: 90%;
}

.product-page .product-info .product-option .colors-list a.active .img {
    filter: grayscale(0);
    border-color: #18a0c6;
    position: relative;
}

.product-page .product-info .product-option .colors-list a.active {
    color: #18a0c6;
    position: relative;
}

.product-page .product-info .product-option .colors-list a span.icon-check-prod {
    display: none;
}

.product-page .product-info .product-option .colors-list a.active span.icon-check-prod {
    display: block;
    line-height: 1;
    position: absolute;
    top: 1px;
    right: 1px;
}

.icon-check-prod {
    /* font-size: 3em; */
    color: #18a0c6;
}

.product-option .name {
    display: none;
}

.product-page .product-info .product-option .properties-list {
    display: block;
    white-space: nowrap;
    overflow: auto;
}

.product-option.disable {
    filter: grayscale(100%);
    opacity: 0.3;
}

.product-page .product-info .product-option {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e6e6e6;
}

.product-page .product-info .product-option .properties-list a {
    display: inline-block;
    vertical-align: top;
    font-size: 1.3rem;
    line-height: 1;
    padding: 6px 12px;
    font-weight: 500;
    color: #666666;
    background: #f2f2f2;
    border-radius: 5px;
    margin-right: 5px;
}

.product-page .product-info .product-option .properties-list a.active {
    color: #fff;
    border-color: #18a0c6;
    background: #18a0c6;
}

/* .product-btn .btn {
    font-size: 1.9rem;
} */
.font-primary-size {
    font-size: 1.9rem;

}

.font-second-size {
    font-size: 1.3rem;
}

.product-btn .add-to-cart {
    width: 100%;
}

.product-page .product-info .product-btn .btn-tragop {
    font-weight: 500;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    background: #f2f2f2;
    padding: 10px 0;
}

.product-page .product-info .product-btn .btn-tragop:hover {
    background: #18a0c6;
    color: #fff;
}

.product-page .product-info .product-btn .btn-buy {
    display: block;
    width: 100%;
    background: #333333;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 40px;
}

.product-page .product-info .product-btn .btn-buy:hover {
    background: #18a0c6;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
        width: 100%;
    }
}

.product-btn {
    border-bottom: 1px dashed #e6e6e6;

}



.product-page .product-info .product-box .title:before,
.product-page .product-info .product-gift .title:before {
    content: '';
    display: block;
    width: 90px;
    height: 2px;
    background: #18a0c6;
    position: absolute;
    bottom: -1px;
    left: 0px;
    z-index: 1;
}

.product-page .product-info .product-box .title,
.product-page .product-info .product-gift .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px 0;
    margin: 0px 10px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}

.product-page .product-info .product-box,
.product-page .product-info .product-gift {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.product-page .product-info .product-box .title span,
.product-page .product-info .product-gift .title span {
    /* font-size: 0.875rem; */
    font-weight: 700;
}

.product-page .product-info .product-box .content,
.product-page .product-info .product-gift .content {
    padding: 10px;
    /* font-size: 0.8125rem; */
}

.content ul {
    padding-left: 20px;
    list-style-type: disc;
}

.free-gifts li {
    list-style: disc;

}

.free-gifts a {
    color: #333333;
}

.padding-0 {
    padding: 0;
}

.padding-10 {
    padding: 10px;
}

.product-page .product-info .product-support {
    font-size: 0.7em;
    border-radius: 5px;
    overflow: hidden;
    border: 1px dashed #e6e6e6;
    padding: 10px;
}

.product-page .product-info .product-support .title {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 5px;
}

.product-page .product-info .product-support ul {
    /* font-size: 1em; */
    color: #666666;
    margin-bottom: 5px;
}

.product-page .product-info .product-support ul li {
    padding-left: 15px;
    position: relative;
}

.product-page .product-info .product-support ul li span.icon-check-prod {
    content: '\f058';
    position: absolute;
    top: 0;
    left: 0;
    color: #4CAF50;
}

.content.showless {
    max-height: 600px;
    overflow: hidden;
    position: relative;
}

.btn-xemthemdacdiem,
.btn-xemthemthongsokythuat {
    width: 100%;
    height: 3em;
    color: #fff;
}


.sanphamcungtamgia .prev-please,
.sanphamcungtamgia .next-please {
    top: -84px;
}




#tbl-gioHang thead tr th {
    width: fit-content;
    text-align: center;
    vertical-align: middle;
}

#tbl-gioHang img {
    width: 40px;
}

#tbl-gioHang tbody td {
    text-align: center;
    vertical-align: middle;
}

#tbl-gioHang tbody tr {
    position: relative;
}

#formNhapMaGiamGia input,
#formNhapMaGiamGia button {
    height: 40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 25px;
}

#formNhapMaGiamGia input {
    border-radius: 25px;
    font-size: 20px;
}

.btn-removeItemFromCart {
    color: red;
    cursor: pointer;
    font-size: 15px;
}

#hoaDonThanhToan tbody tr th {
    text-align: left;
}

.tab-content>.active {
    opacity: 1;
}

.sw-btn-next {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.sw-btn-next:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.da-thumbs {
    width: auto;
    height: fit-content;
}

.da-thumbs li a,
.da-thumbs li a img {
    height: 35vh;
    width: 100%;
}

.da-thumbs li {
    margin: 0;
}

.da-thumbs li a div span {
    box-shadow: none;
    vertical-align: middle;
    display: table-cell;
}

.da-thumbs li a div {
    /* height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute; */
    text-align: center;
    vertical-align: middle;
    display: table;
}

.product-bottom {
    padding: 10px;
}

.product-bottom h3 {
    font-size: 1.3em;
    text-align: center;
}

.product-main a.mask {
    color: black;
    padding: 10px 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.main-color {
    color: #ff9800;
}

.btn-primary {
    color: #fff;
    background-color: #ff9800;
    border: #ff9800;

}

.memenu a {
    color: #ff9800;
    text-transform: uppercase;
}

.skyblue>li:hover>a,
.skyblue>li.active>a,
.skyblue .dropdown li:hover>a,
.me-one h4 {
    color: #ff9800;
    font-weight: 700;
}

.product-main a.mask:hover {
    color: rgb(77, 74, 74);
}

.btn-primary:hover {
    background-color: #ff9501;  
}

a.mask img {
    height: 24vh !important;
    width: 15vh !important;
}