.logo img {
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

#contenhomeslider img {
    height: 451px;
}

.nav-bar {
    font-size: 12px;
}

.header-top-right .header-banner {
    height: 451px;
}

    .header-top-right .header-banner img {
        height: 50%;
    }

.product-list.grid li .content_price {
    display: grid;
    text-align: center;
}

.product-list.grid li .product-star {
    float: unset;
}

.product-list.grid li .product-name {
    padding-bottom: 5px;
    text-align: center;
}

.product-list.grid li .right-block {
    text-align: center;
}

.navbar-brand i {
    vertical-align: middle;
    margin-right: 15px;
    font-size: 25px;
}

.banner-img img {
    height: 350px;
    width: 234px;
}

.product-list li .add-to-cart:hover {
    background-color: rgba(255, 87, 34, 1);
}

.product-list li img {
    height: 300px;
    width: 366px;
}

.page-product-box .product-container .right-block {
    text-align: center;
}

.page-product-box .product-container .product-star {
    float: unset;
}

.page-product-box .product-container .content_price {
    display: grid;
}

.sw-theme-default > .nav .nav-link.active {
    color: #dd8404 !important;
    cursor: pointer;
}

    .sw-theme-default > .nav .nav-link.active::after {
        background: #dd8404 !important;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

.sw-theme-default > .nav .nav-link.done {
    color: #333333 !important;
    cursor: pointer;
}

    .sw-theme-default > .nav .nav-link.done::after {
        background: #dd8404;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

.sw-theme-default .toolbar > .btn {
    background-color: #dd8404;
    border: 1px solid #dd8404;
}

.sw .nav-item a {
    font-size: 20px;
}

table.cart_summary thead tr th {
    text-align: center;
}

.text-right {
    text-align: right !important;
}

.page-order .cart_description {
    text-align: center;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #dd8404;
}

.entry-photo img {
    height: 30vh;
    width: 100%;
}

.accordion-faq .panel-heading a {
    display: block;
    position: relative;
    background: #f8f8f8;
    color: #333;
    padding: 10px 5px 12px 15px;
    border-radius: 0;
    border-right: 48px solid #f97406;
    min-height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.accordion-faq .arrow-down, .accordion-faq .arrow-up {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    top: 50%;
    margin-top: -15px;
    right: -36px;
    color: #fff;
}


.accordion-faq .panel-heading a:hover {
    text-decoration: none;
}

.accordion-faq .panel .panel-heading {
    padding: 0;
    color: #fff;
    border-radius: 0 !important;
    background: #333;
}

.accordion-faq .arrow-down, .accordion-faq .collapsed .arrow-up {
    display: none;
}


.accordion-faq .collapsed .arrow-down {
    display: block;
}



.product-list li .product-star {
    width: 100%;
    /* float: right; */
    color: #ff9900;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    font-size: 13px;
}

.product-name a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

[class*='showcase-'] .img-responsive {
    height: 171px;
    width: 141px;
}
/*.featured-text {
    position: absolute;
    right: -5px;
    top: -5px;
    background: url(../images/featured-text.png) no-repeat;
    width: 75px;
    height: 75px;
    z-index: 100;
}*/
#product-zoom {
    max-height: 398px;
    max-width: 398px;
}

.add-to-cart a, a.btn-add-cart {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.comment-review-product {
    border: 1px solid #000;
    width: 100%;
    padding: 10px;
}

li.dac-tinh-dong-ho {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.pointer {
    cursor: pointer;
}

#loadingScreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.5);
    /*background-image: url(https://i.stack.imgur.com/MnyxU.gif);*/
    /*background-image: url(https://meatmarket.in/wp-content/uploads/2020/01/loading-bar-animated-gif-transparent-background-3.gif);*/
    /*background-image: url(https://uploads-ssl.webflow.com/5a4248408192d400018d7be3/5a427f938192d400018d9834_loader.gif);*/
    background-image: url(/assets/images/search-loading.gif);
    /*background-image: url(https://cutewallpaper.org/21/loading-gif-transparent-background/HopeWell.gif);*/
    /*background-image: url(http://cdn.lowgif.com/small/0f632e0f931c9782-.gif);*/
    background-repeat: no-repeat;
    background-position: center;
}