@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section AdminScripts{
    <script type="text/javascript" src="~/admin/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/admin/js/plugins/sortable/sortable.min.js"></script>
    <script type="text/javascript" src="~/js/admin/product.js"></script>

}
<div class="page-title">
    <h1>Quản lý sản phẩm</h1>
    <p>Thêm, xoá, sửa thông tin sản phẩm</p>

    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Ui Kits</a></li>
        <li>Breadcrumb làm sau</li>
    </ul>
</div>
<div class="wrapper">
    <div class="row">

        <div class="col">
            <table class="table table-bordered " id="table-san-pham">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Giá giảm</th>
                        <th>Điểm sản phẩm</th>
                        <th>Trạng thái</th>
                        <th>Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
